<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esst.ts.dao.courseDocumentMapper" >
  <resultMap id="BaseResultMap" type="com.esst.ts.model.courseDocument" >
    <id column="CourseDocumentID" property="coursedocumentid" jdbcType="INTEGER" />
    <result column="CD_Name" property="cdName" jdbcType="VARCHAR" />
    <result column="CD_Ename" property="cdEname" jdbcType="VARCHAR" />
    <result column="CD_FilePath" property="cdFilepath" jdbcType="VARCHAR" />
    <result column="CD_FileType" property="cdFiletype" jdbcType="INTEGER" />
    <result column="CD_FileSize" property="cdFilesize" jdbcType="INTEGER" />
    <result column="CD_ExtensionName" property="cdExtensionname" jdbcType="VARCHAR" />
    <result column="CD_IsConversion" property="cdIsconversion" jdbcType="INTEGER" />
    <result column="CD_OriginalFileSize" property="cdOriginalfilesize" jdbcType="INTEGER" />
    <result column="CD_OriginalExtensionName" property="cdOriginalextensionname" jdbcType="VARCHAR" />
    <result column="CD_FileSourceType" property="cdFilesourcetype" jdbcType="INTEGER" />
    <result column="CD_FileStorageType" property="cdFilestoragetype" jdbcType="INTEGER" />
    <result column="CD_MetaID" property="cdMetaid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.esst.ts.model.courseDocument" extends="BaseResultMap" >
    <result column="CD_Comment" property="cdComment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CourseDocumentID, CD_Name, CD_Ename, CD_FilePath, CD_FileType, CD_FileSize, CD_ExtensionName, 
    CD_IsConversion, CD_OriginalFileSize, CD_OriginalExtensionName, CD_FileSourceType, 
    CD_FileStorageType, CD_MetaID
  </sql>
  <sql id="Blob_Column_List" >
    CD_Comment
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from course_document
    where CourseDocumentID = #{coursedocumentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course_document
    where CourseDocumentID = #{coursedocumentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.esst.ts.model.courseDocument" >
    insert into course_document (CourseDocumentID, CD_Name, CD_Ename, 
      CD_FilePath, CD_FileType, CD_FileSize, 
      CD_ExtensionName, CD_IsConversion, CD_OriginalFileSize, 
      CD_OriginalExtensionName, CD_FileSourceType, 
      CD_FileStorageType, CD_MetaID, CD_Comment
      )
    values (#{coursedocumentid,jdbcType=INTEGER}, #{cdName,jdbcType=VARCHAR}, #{cdEname,jdbcType=VARCHAR}, 
      #{cdFilepath,jdbcType=VARCHAR}, #{cdFiletype,jdbcType=INTEGER}, #{cdFilesize,jdbcType=INTEGER}, 
      #{cdExtensionname,jdbcType=VARCHAR}, #{cdIsconversion,jdbcType=INTEGER}, #{cdOriginalfilesize,jdbcType=INTEGER}, 
      #{cdOriginalextensionname,jdbcType=VARCHAR}, #{cdFilesourcetype,jdbcType=INTEGER}, 
      #{cdFilestoragetype,jdbcType=INTEGER}, #{cdMetaid,jdbcType=VARCHAR}, #{cdComment,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.esst.ts.model.courseDocument" >
    insert into course_document
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="coursedocumentid != null" >
        CourseDocumentID,
      </if>
      <if test="cdName != null" >
        CD_Name,
      </if>
      <if test="cdEname != null" >
        CD_Ename,
      </if>
      <if test="cdFilepath != null" >
        CD_FilePath,
      </if>
      <if test="cdFiletype != null" >
        CD_FileType,
      </if>
      <if test="cdFilesize != null" >
        CD_FileSize,
      </if>
      <if test="cdExtensionname != null" >
        CD_ExtensionName,
      </if>
      <if test="cdIsconversion != null" >
        CD_IsConversion,
      </if>
      <if test="cdOriginalfilesize != null" >
        CD_OriginalFileSize,
      </if>
      <if test="cdOriginalextensionname != null" >
        CD_OriginalExtensionName,
      </if>
      <if test="cdFilesourcetype != null" >
        CD_FileSourceType,
      </if>
      <if test="cdFilestoragetype != null" >
        CD_FileStorageType,
      </if>
      <if test="cdMetaid != null" >
        CD_MetaID,
      </if>
      <if test="cdComment != null" >
        CD_Comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="coursedocumentid != null" >
        #{coursedocumentid,jdbcType=INTEGER},
      </if>
      <if test="cdName != null" >
        #{cdName,jdbcType=VARCHAR},
      </if>
      <if test="cdEname != null" >
        #{cdEname,jdbcType=VARCHAR},
      </if>
      <if test="cdFilepath != null" >
        #{cdFilepath,jdbcType=VARCHAR},
      </if>
      <if test="cdFiletype != null" >
        #{cdFiletype,jdbcType=INTEGER},
      </if>
      <if test="cdFilesize != null" >
        #{cdFilesize,jdbcType=INTEGER},
      </if>
      <if test="cdExtensionname != null" >
        #{cdExtensionname,jdbcType=VARCHAR},
      </if>
      <if test="cdIsconversion != null" >
        #{cdIsconversion,jdbcType=INTEGER},
      </if>
      <if test="cdOriginalfilesize != null" >
        #{cdOriginalfilesize,jdbcType=INTEGER},
      </if>
      <if test="cdOriginalextensionname != null" >
        #{cdOriginalextensionname,jdbcType=VARCHAR},
      </if>
      <if test="cdFilesourcetype != null" >
        #{cdFilesourcetype,jdbcType=INTEGER},
      </if>
      <if test="cdFilestoragetype != null" >
        #{cdFilestoragetype,jdbcType=INTEGER},
      </if>
      <if test="cdMetaid != null" >
        #{cdMetaid,jdbcType=VARCHAR},
      </if>
      <if test="cdComment != null" >
        #{cdComment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esst.ts.model.courseDocument" >
    update course_document
    <set >
      <if test="cdName != null" >
        CD_Name = #{cdName,jdbcType=VARCHAR},
      </if>
      <if test="cdEname != null" >
        CD_Ename = #{cdEname,jdbcType=VARCHAR},
      </if>
      <if test="cdFilepath != null" >
        CD_FilePath = #{cdFilepath,jdbcType=VARCHAR},
      </if>
      <if test="cdFiletype != null" >
        CD_FileType = #{cdFiletype,jdbcType=INTEGER},
      </if>
      <if test="cdFilesize != null" >
        CD_FileSize = #{cdFilesize,jdbcType=INTEGER},
      </if>
      <if test="cdExtensionname != null" >
        CD_ExtensionName = #{cdExtensionname,jdbcType=VARCHAR},
      </if>
      <if test="cdIsconversion != null" >
        CD_IsConversion = #{cdIsconversion,jdbcType=INTEGER},
      </if>
      <if test="cdOriginalfilesize != null" >
        CD_OriginalFileSize = #{cdOriginalfilesize,jdbcType=INTEGER},
      </if>
      <if test="cdOriginalextensionname != null" >
        CD_OriginalExtensionName = #{cdOriginalextensionname,jdbcType=VARCHAR},
      </if>
      <if test="cdFilesourcetype != null" >
        CD_FileSourceType = #{cdFilesourcetype,jdbcType=INTEGER},
      </if>
      <if test="cdFilestoragetype != null" >
        CD_FileStorageType = #{cdFilestoragetype,jdbcType=INTEGER},
      </if>
      <if test="cdMetaid != null" >
        CD_MetaID = #{cdMetaid,jdbcType=VARCHAR},
      </if>
      <if test="cdComment != null" >
        CD_Comment = #{cdComment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where CourseDocumentID = #{coursedocumentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.esst.ts.model.courseDocument" >
    update course_document
    set CD_Name = #{cdName,jdbcType=VARCHAR},
      CD_Ename = #{cdEname,jdbcType=VARCHAR},
      CD_FilePath = #{cdFilepath,jdbcType=VARCHAR},
      CD_FileType = #{cdFiletype,jdbcType=INTEGER},
      CD_FileSize = #{cdFilesize,jdbcType=INTEGER},
      CD_ExtensionName = #{cdExtensionname,jdbcType=VARCHAR},
      CD_IsConversion = #{cdIsconversion,jdbcType=INTEGER},
      CD_OriginalFileSize = #{cdOriginalfilesize,jdbcType=INTEGER},
      CD_OriginalExtensionName = #{cdOriginalextensionname,jdbcType=VARCHAR},
      CD_FileSourceType = #{cdFilesourcetype,jdbcType=INTEGER},
      CD_FileStorageType = #{cdFilestoragetype,jdbcType=INTEGER},
      CD_MetaID = #{cdMetaid,jdbcType=VARCHAR},
      CD_Comment = #{cdComment,jdbcType=LONGVARCHAR}
    where CourseDocumentID = #{coursedocumentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esst.ts.model.courseDocument" >
    update course_document
    set CD_Name = #{cdName,jdbcType=VARCHAR},
      CD_Ename = #{cdEname,jdbcType=VARCHAR},
      CD_FilePath = #{cdFilepath,jdbcType=VARCHAR},
      CD_FileType = #{cdFiletype,jdbcType=INTEGER},
      CD_FileSize = #{cdFilesize,jdbcType=INTEGER},
      CD_ExtensionName = #{cdExtensionname,jdbcType=VARCHAR},
      CD_IsConversion = #{cdIsconversion,jdbcType=INTEGER},
      CD_OriginalFileSize = #{cdOriginalfilesize,jdbcType=INTEGER},
      CD_OriginalExtensionName = #{cdOriginalextensionname,jdbcType=VARCHAR},
      CD_FileSourceType = #{cdFilesourcetype,jdbcType=INTEGER},
      CD_FileStorageType = #{cdFilestoragetype,jdbcType=INTEGER},
      CD_MetaID = #{cdMetaid,jdbcType=VARCHAR}
    where CourseDocumentID = #{coursedocumentid,jdbcType=INTEGER}
  </update>
</mapper>