<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esst.ts.dao.courseSysuserstudylogMapper" >
  <resultMap id="BaseResultMap" type="com.esst.ts.model.courseSysuserstudylog" >
    <id column="SysUserStudylogID" property="sysuserstudylogid" jdbcType="INTEGER" />
    <result column="SUS_CourseID" property="susCourseid" jdbcType="INTEGER" />
    <result column="SUS_UserID" property="susUserid" jdbcType="INTEGER" />
    <result column="SUS_SchemeID" property="susSchemeid" jdbcType="INTEGER" />
    <result column="SUS_PostID" property="susPostid" jdbcType="INTEGER" />
    <result column="SUS_PostGradeID" property="susPostgradeid" jdbcType="INTEGER" />
    <result column="SUS_BeginTime" property="susBegintime" jdbcType="TIMESTAMP" />
    <result column="SUS_LastTime" property="susLasttime" jdbcType="TIMESTAMP" />
    <result column="SUS_UseTime" property="susUsetime" jdbcType="INTEGER" />
    <result column="SUS_StudyModel" property="susStudymodel" jdbcType="INTEGER" />
    <result column="SUS_StudyTimes" property="susStudytimes" jdbcType="INTEGER" />
    <result column="SUS_StudyProgress" property="susStudyprogress" jdbcType="INTEGER" />
    <result column="SUS_PostAbilityID" property="susPostabilityid" jdbcType="INTEGER" />
    <result column="SUS_SimnetProject" property="susSimnetproject" jdbcType="VARCHAR" />
    <result column="SUS_SimnetScore" property="susSimnetscore" jdbcType="DOUBLE" />
    <result column="SUS_SimnetScoreReport" property="susSimnetscorereport" jdbcType="VARCHAR" />
    <result column="SUS_SimnetStudyType" property="susSimnetstudytype" jdbcType="INTEGER" />
    <result column="SUS_IsSendSimnetStatistics" property="susIssendsimnetstatistics" jdbcType="INTEGER" />
    <result column="SUS_SendIp" property="susSendip" jdbcType="VARCHAR" />
    <result column="SUS_TheoryCourseid" property="susTheorycourseid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    SysUserStudylogID, SUS_CourseID, SUS_UserID, SUS_SchemeID, SUS_PostID, SUS_PostGradeID, 
    SUS_BeginTime, SUS_LastTime, SUS_UseTime, SUS_StudyModel, SUS_StudyTimes, SUS_StudyProgress, 
    SUS_PostAbilityID, SUS_SimnetProject, SUS_SimnetScore, SUS_SimnetScoreReport, SUS_SimnetStudyType, 
    SUS_IsSendSimnetStatistics, SUS_SendIp, SUS_TheoryCourseid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course_sysuserstudylog
    where SysUserStudylogID = #{sysuserstudylogid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course_sysuserstudylog
    where SysUserStudylogID = #{sysuserstudylogid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.esst.ts.model.courseSysuserstudylog" >
    insert into course_sysuserstudylog (SysUserStudylogID, SUS_CourseID, SUS_UserID, 
      SUS_SchemeID, SUS_PostID, SUS_PostGradeID, 
      SUS_BeginTime, SUS_LastTime, SUS_UseTime, 
      SUS_StudyModel, SUS_StudyTimes, SUS_StudyProgress, 
      SUS_PostAbilityID, SUS_SimnetProject, SUS_SimnetScore, 
      SUS_SimnetScoreReport, SUS_SimnetStudyType, 
      SUS_IsSendSimnetStatistics, SUS_SendIp, SUS_TheoryCourseid
      )
    values (#{sysuserstudylogid,jdbcType=INTEGER}, #{susCourseid,jdbcType=INTEGER}, #{susUserid,jdbcType=INTEGER}, 
      #{susSchemeid,jdbcType=INTEGER}, #{susPostid,jdbcType=INTEGER}, #{susPostgradeid,jdbcType=INTEGER}, 
      #{susBegintime,jdbcType=TIMESTAMP}, #{susLasttime,jdbcType=TIMESTAMP}, #{susUsetime,jdbcType=INTEGER}, 
      #{susStudymodel,jdbcType=INTEGER}, #{susStudytimes,jdbcType=INTEGER}, #{susStudyprogress,jdbcType=INTEGER}, 
      #{susPostabilityid,jdbcType=INTEGER}, #{susSimnetproject,jdbcType=VARCHAR}, #{susSimnetscore,jdbcType=DOUBLE}, 
      #{susSimnetscorereport,jdbcType=VARCHAR}, #{susSimnetstudytype,jdbcType=INTEGER}, 
      #{susIssendsimnetstatistics,jdbcType=INTEGER}, #{susSendip,jdbcType=VARCHAR}, #{susTheorycourseid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.esst.ts.model.courseSysuserstudylog" >
    insert into course_sysuserstudylog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysuserstudylogid != null" >
        SysUserStudylogID,
      </if>
      <if test="susCourseid != null" >
        SUS_CourseID,
      </if>
      <if test="susUserid != null" >
        SUS_UserID,
      </if>
      <if test="susSchemeid != null" >
        SUS_SchemeID,
      </if>
      <if test="susPostid != null" >
        SUS_PostID,
      </if>
      <if test="susPostgradeid != null" >
        SUS_PostGradeID,
      </if>
      <if test="susBegintime != null" >
        SUS_BeginTime,
      </if>
      <if test="susLasttime != null" >
        SUS_LastTime,
      </if>
      <if test="susUsetime != null" >
        SUS_UseTime,
      </if>
      <if test="susStudymodel != null" >
        SUS_StudyModel,
      </if>
      <if test="susStudytimes != null" >
        SUS_StudyTimes,
      </if>
      <if test="susStudyprogress != null" >
        SUS_StudyProgress,
      </if>
      <if test="susPostabilityid != null" >
        SUS_PostAbilityID,
      </if>
      <if test="susSimnetproject != null" >
        SUS_SimnetProject,
      </if>
      <if test="susSimnetscore != null" >
        SUS_SimnetScore,
      </if>
      <if test="susSimnetscorereport != null" >
        SUS_SimnetScoreReport,
      </if>
      <if test="susSimnetstudytype != null" >
        SUS_SimnetStudyType,
      </if>
      <if test="susIssendsimnetstatistics != null" >
        SUS_IsSendSimnetStatistics,
      </if>
      <if test="susSendip != null" >
        SUS_SendIp,
      </if>
      <if test="susTheorycourseid != null" >
        SUS_TheoryCourseid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysuserstudylogid != null" >
        #{sysuserstudylogid,jdbcType=INTEGER},
      </if>
      <if test="susCourseid != null" >
        #{susCourseid,jdbcType=INTEGER},
      </if>
      <if test="susUserid != null" >
        #{susUserid,jdbcType=INTEGER},
      </if>
      <if test="susSchemeid != null" >
        #{susSchemeid,jdbcType=INTEGER},
      </if>
      <if test="susPostid != null" >
        #{susPostid,jdbcType=INTEGER},
      </if>
      <if test="susPostgradeid != null" >
        #{susPostgradeid,jdbcType=INTEGER},
      </if>
      <if test="susBegintime != null" >
        #{susBegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="susLasttime != null" >
        #{susLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="susUsetime != null" >
        #{susUsetime,jdbcType=INTEGER},
      </if>
      <if test="susStudymodel != null" >
        #{susStudymodel,jdbcType=INTEGER},
      </if>
      <if test="susStudytimes != null" >
        #{susStudytimes,jdbcType=INTEGER},
      </if>
      <if test="susStudyprogress != null" >
        #{susStudyprogress,jdbcType=INTEGER},
      </if>
      <if test="susPostabilityid != null" >
        #{susPostabilityid,jdbcType=INTEGER},
      </if>
      <if test="susSimnetproject != null" >
        #{susSimnetproject,jdbcType=VARCHAR},
      </if>
      <if test="susSimnetscore != null" >
        #{susSimnetscore,jdbcType=DOUBLE},
      </if>
      <if test="susSimnetscorereport != null" >
        #{susSimnetscorereport,jdbcType=VARCHAR},
      </if>
      <if test="susSimnetstudytype != null" >
        #{susSimnetstudytype,jdbcType=INTEGER},
      </if>
      <if test="susIssendsimnetstatistics != null" >
        #{susIssendsimnetstatistics,jdbcType=INTEGER},
      </if>
      <if test="susSendip != null" >
        #{susSendip,jdbcType=VARCHAR},
      </if>
      <if test="susTheorycourseid != null" >
        #{susTheorycourseid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esst.ts.model.courseSysuserstudylog" >
    update course_sysuserstudylog
    <set >
      <if test="susCourseid != null" >
        SUS_CourseID = #{susCourseid,jdbcType=INTEGER},
      </if>
      <if test="susUserid != null" >
        SUS_UserID = #{susUserid,jdbcType=INTEGER},
      </if>
      <if test="susSchemeid != null" >
        SUS_SchemeID = #{susSchemeid,jdbcType=INTEGER},
      </if>
      <if test="susPostid != null" >
        SUS_PostID = #{susPostid,jdbcType=INTEGER},
      </if>
      <if test="susPostgradeid != null" >
        SUS_PostGradeID = #{susPostgradeid,jdbcType=INTEGER},
      </if>
      <if test="susBegintime != null" >
        SUS_BeginTime = #{susBegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="susLasttime != null" >
        SUS_LastTime = #{susLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="susUsetime != null" >
        SUS_UseTime = #{susUsetime,jdbcType=INTEGER},
      </if>
      <if test="susStudymodel != null" >
        SUS_StudyModel = #{susStudymodel,jdbcType=INTEGER},
      </if>
      <if test="susStudytimes != null" >
        SUS_StudyTimes = #{susStudytimes,jdbcType=INTEGER},
      </if>
      <if test="susStudyprogress != null" >
        SUS_StudyProgress = #{susStudyprogress,jdbcType=INTEGER},
      </if>
      <if test="susPostabilityid != null" >
        SUS_PostAbilityID = #{susPostabilityid,jdbcType=INTEGER},
      </if>
      <if test="susSimnetproject != null" >
        SUS_SimnetProject = #{susSimnetproject,jdbcType=VARCHAR},
      </if>
      <if test="susSimnetscore != null" >
        SUS_SimnetScore = #{susSimnetscore,jdbcType=DOUBLE},
      </if>
      <if test="susSimnetscorereport != null" >
        SUS_SimnetScoreReport = #{susSimnetscorereport,jdbcType=VARCHAR},
      </if>
      <if test="susSimnetstudytype != null" >
        SUS_SimnetStudyType = #{susSimnetstudytype,jdbcType=INTEGER},
      </if>
      <if test="susIssendsimnetstatistics != null" >
        SUS_IsSendSimnetStatistics = #{susIssendsimnetstatistics,jdbcType=INTEGER},
      </if>
      <if test="susSendip != null" >
        SUS_SendIp = #{susSendip,jdbcType=VARCHAR},
      </if>
      <if test="susTheorycourseid != null" >
        SUS_TheoryCourseid = #{susTheorycourseid,jdbcType=INTEGER},
      </if>
    </set>
    where SysUserStudylogID = #{sysuserstudylogid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esst.ts.model.courseSysuserstudylog" >
    update course_sysuserstudylog
    set SUS_CourseID = #{susCourseid,jdbcType=INTEGER},
      SUS_UserID = #{susUserid,jdbcType=INTEGER},
      SUS_SchemeID = #{susSchemeid,jdbcType=INTEGER},
      SUS_PostID = #{susPostid,jdbcType=INTEGER},
      SUS_PostGradeID = #{susPostgradeid,jdbcType=INTEGER},
      SUS_BeginTime = #{susBegintime,jdbcType=TIMESTAMP},
      SUS_LastTime = #{susLasttime,jdbcType=TIMESTAMP},
      SUS_UseTime = #{susUsetime,jdbcType=INTEGER},
      SUS_StudyModel = #{susStudymodel,jdbcType=INTEGER},
      SUS_StudyTimes = #{susStudytimes,jdbcType=INTEGER},
      SUS_StudyProgress = #{susStudyprogress,jdbcType=INTEGER},
      SUS_PostAbilityID = #{susPostabilityid,jdbcType=INTEGER},
      SUS_SimnetProject = #{susSimnetproject,jdbcType=VARCHAR},
      SUS_SimnetScore = #{susSimnetscore,jdbcType=DOUBLE},
      SUS_SimnetScoreReport = #{susSimnetscorereport,jdbcType=VARCHAR},
      SUS_SimnetStudyType = #{susSimnetstudytype,jdbcType=INTEGER},
      SUS_IsSendSimnetStatistics = #{susIssendsimnetstatistics,jdbcType=INTEGER},
      SUS_SendIp = #{susSendip,jdbcType=VARCHAR},
      SUS_TheoryCourseid = #{susTheorycourseid,jdbcType=INTEGER}
    where SysUserStudylogID = #{sysuserstudylogid,jdbcType=INTEGER}
  </update>
</mapper>