<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esst.ts.dao.customerDistributionDetailMapper" >
  <resultMap id="BaseResultMap" type="com.esst.ts.model.customerDistributionDetail" >
    <id column="cdd_id" property="cddId" jdbcType="INTEGER" />
    <result column="cdd_distribution_id" property="cddDistributionId" jdbcType="INTEGER" />
    <result column="cdd_user_id" property="cddUserId" jdbcType="INTEGER" />
    <result column="cdd_user_status" property="cddUserStatus" jdbcType="INTEGER" />
    <result column="cdd_unit_id" property="cddUnitId" jdbcType="INTEGER" />
    <result column="cdd_product_id" property="cddProductId" jdbcType="INTEGER" />
    <result column="cdd_add_time" property="cddAddTime" jdbcType="TIMESTAMP" />
    <result column="cdd_update_time" property="cddUpdateTime" jdbcType="TIMESTAMP" />
    <result column="cdd_update_mark" property="cddUpdateMark" jdbcType="VARCHAR" />
    <result column="cdd_update_distribution_id" property="cddUpdateDistributionId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cdd_id, cdd_distribution_id, cdd_user_id, cdd_user_status, cdd_unit_id, cdd_product_id, 
    cdd_add_time, cdd_update_time, cdd_update_mark, cdd_update_distribution_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customer_distribution_detail
    where cdd_id = #{cddId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer_distribution_detail
    where cdd_id = #{cddId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.esst.ts.model.customerDistributionDetail" >
    insert into customer_distribution_detail (cdd_id, cdd_distribution_id, cdd_user_id, 
      cdd_user_status, cdd_unit_id, cdd_product_id, 
      cdd_add_time, cdd_update_time, cdd_update_mark, 
      cdd_update_distribution_id)
    values (#{cddId,jdbcType=INTEGER}, #{cddDistributionId,jdbcType=INTEGER}, #{cddUserId,jdbcType=INTEGER}, 
      #{cddUserStatus,jdbcType=INTEGER}, #{cddUnitId,jdbcType=INTEGER}, #{cddProductId,jdbcType=INTEGER}, 
      #{cddAddTime,jdbcType=TIMESTAMP}, #{cddUpdateTime,jdbcType=TIMESTAMP}, #{cddUpdateMark,jdbcType=VARCHAR}, 
      #{cddUpdateDistributionId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.esst.ts.model.customerDistributionDetail" >
    insert into customer_distribution_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cddId != null" >
        cdd_id,
      </if>
      <if test="cddDistributionId != null" >
        cdd_distribution_id,
      </if>
      <if test="cddUserId != null" >
        cdd_user_id,
      </if>
      <if test="cddUserStatus != null" >
        cdd_user_status,
      </if>
      <if test="cddUnitId != null" >
        cdd_unit_id,
      </if>
      <if test="cddProductId != null" >
        cdd_product_id,
      </if>
      <if test="cddAddTime != null" >
        cdd_add_time,
      </if>
      <if test="cddUpdateTime != null" >
        cdd_update_time,
      </if>
      <if test="cddUpdateMark != null" >
        cdd_update_mark,
      </if>
      <if test="cddUpdateDistributionId != null" >
        cdd_update_distribution_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cddId != null" >
        #{cddId,jdbcType=INTEGER},
      </if>
      <if test="cddDistributionId != null" >
        #{cddDistributionId,jdbcType=INTEGER},
      </if>
      <if test="cddUserId != null" >
        #{cddUserId,jdbcType=INTEGER},
      </if>
      <if test="cddUserStatus != null" >
        #{cddUserStatus,jdbcType=INTEGER},
      </if>
      <if test="cddUnitId != null" >
        #{cddUnitId,jdbcType=INTEGER},
      </if>
      <if test="cddProductId != null" >
        #{cddProductId,jdbcType=INTEGER},
      </if>
      <if test="cddAddTime != null" >
        #{cddAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cddUpdateTime != null" >
        #{cddUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cddUpdateMark != null" >
        #{cddUpdateMark,jdbcType=VARCHAR},
      </if>
      <if test="cddUpdateDistributionId != null" >
        #{cddUpdateDistributionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esst.ts.model.customerDistributionDetail" >
    update customer_distribution_detail
    <set >
      <if test="cddDistributionId != null" >
        cdd_distribution_id = #{cddDistributionId,jdbcType=INTEGER},
      </if>
      <if test="cddUserId != null" >
        cdd_user_id = #{cddUserId,jdbcType=INTEGER},
      </if>
      <if test="cddUserStatus != null" >
        cdd_user_status = #{cddUserStatus,jdbcType=INTEGER},
      </if>
      <if test="cddUnitId != null" >
        cdd_unit_id = #{cddUnitId,jdbcType=INTEGER},
      </if>
      <if test="cddProductId != null" >
        cdd_product_id = #{cddProductId,jdbcType=INTEGER},
      </if>
      <if test="cddAddTime != null" >
        cdd_add_time = #{cddAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cddUpdateTime != null" >
        cdd_update_time = #{cddUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cddUpdateMark != null" >
        cdd_update_mark = #{cddUpdateMark,jdbcType=VARCHAR},
      </if>
      <if test="cddUpdateDistributionId != null" >
        cdd_update_distribution_id = #{cddUpdateDistributionId,jdbcType=INTEGER},
      </if>
    </set>
    where cdd_id = #{cddId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esst.ts.model.customerDistributionDetail" >
    update customer_distribution_detail
    set cdd_distribution_id = #{cddDistributionId,jdbcType=INTEGER},
      cdd_user_id = #{cddUserId,jdbcType=INTEGER},
      cdd_user_status = #{cddUserStatus,jdbcType=INTEGER},
      cdd_unit_id = #{cddUnitId,jdbcType=INTEGER},
      cdd_product_id = #{cddProductId,jdbcType=INTEGER},
      cdd_add_time = #{cddAddTime,jdbcType=TIMESTAMP},
      cdd_update_time = #{cddUpdateTime,jdbcType=TIMESTAMP},
      cdd_update_mark = #{cddUpdateMark,jdbcType=VARCHAR},
      cdd_update_distribution_id = #{cddUpdateDistributionId,jdbcType=INTEGER}
    where cdd_id = #{cddId,jdbcType=INTEGER}
  </update>
</mapper>