<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esst.ts.dao.examUsersimnetitemscoreMapper" >
  <resultMap id="BaseResultMap" type="com.esst.ts.model.examUsersimnetitemscore" >
    <id column="UserSimnetItemScoreID" property="usersimnetitemscoreid" jdbcType="INTEGER" />
    <result column="USIS_UserDetailScoreID" property="usisUserdetailscoreid" jdbcType="INTEGER" />
    <result column="USIS_ExamProj" property="usisExamproj" jdbcType="VARCHAR" />
    <result column="USIS_QWeight" property="usisQweight" jdbcType="DOUBLE" />
    <result column="USIS_ExamScore" property="usisExamscore" jdbcType="DOUBLE" />
    <result column="USIS_StartTime" property="usisStarttime" jdbcType="TIMESTAMP" />
    <result column="USIS_EndTime" property="usisEndtime" jdbcType="TIMESTAMP" />
    <result column="USIS_ScoreReport" property="usisScorereport" jdbcType="VARCHAR" />
    <result column="USIS_Remark" property="usisRemark" jdbcType="VARCHAR" />
    <result column="USIS_CourseId" property="usisCourseid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    UserSimnetItemScoreID, USIS_UserDetailScoreID, USIS_ExamProj, USIS_QWeight, USIS_ExamScore, 
    USIS_StartTime, USIS_EndTime, USIS_ScoreReport, USIS_Remark, USIS_CourseId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exam_usersimnetitemscore
    where UserSimnetItemScoreID = #{usersimnetitemscoreid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exam_usersimnetitemscore
    where UserSimnetItemScoreID = #{usersimnetitemscoreid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.esst.ts.model.examUsersimnetitemscore" >
    insert into exam_usersimnetitemscore (UserSimnetItemScoreID, USIS_UserDetailScoreID, 
      USIS_ExamProj, USIS_QWeight, USIS_ExamScore, 
      USIS_StartTime, USIS_EndTime, USIS_ScoreReport, 
      USIS_Remark, USIS_CourseId)
    values (#{usersimnetitemscoreid,jdbcType=INTEGER}, #{usisUserdetailscoreid,jdbcType=INTEGER}, 
      #{usisExamproj,jdbcType=VARCHAR}, #{usisQweight,jdbcType=DOUBLE}, #{usisExamscore,jdbcType=DOUBLE}, 
      #{usisStarttime,jdbcType=TIMESTAMP}, #{usisEndtime,jdbcType=TIMESTAMP}, #{usisScorereport,jdbcType=VARCHAR}, 
      #{usisRemark,jdbcType=VARCHAR}, #{usisCourseid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.esst.ts.model.examUsersimnetitemscore" >
    insert into exam_usersimnetitemscore
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usersimnetitemscoreid != null" >
        UserSimnetItemScoreID,
      </if>
      <if test="usisUserdetailscoreid != null" >
        USIS_UserDetailScoreID,
      </if>
      <if test="usisExamproj != null" >
        USIS_ExamProj,
      </if>
      <if test="usisQweight != null" >
        USIS_QWeight,
      </if>
      <if test="usisExamscore != null" >
        USIS_ExamScore,
      </if>
      <if test="usisStarttime != null" >
        USIS_StartTime,
      </if>
      <if test="usisEndtime != null" >
        USIS_EndTime,
      </if>
      <if test="usisScorereport != null" >
        USIS_ScoreReport,
      </if>
      <if test="usisRemark != null" >
        USIS_Remark,
      </if>
      <if test="usisCourseid != null" >
        USIS_CourseId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usersimnetitemscoreid != null" >
        #{usersimnetitemscoreid,jdbcType=INTEGER},
      </if>
      <if test="usisUserdetailscoreid != null" >
        #{usisUserdetailscoreid,jdbcType=INTEGER},
      </if>
      <if test="usisExamproj != null" >
        #{usisExamproj,jdbcType=VARCHAR},
      </if>
      <if test="usisQweight != null" >
        #{usisQweight,jdbcType=DOUBLE},
      </if>
      <if test="usisExamscore != null" >
        #{usisExamscore,jdbcType=DOUBLE},
      </if>
      <if test="usisStarttime != null" >
        #{usisStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="usisEndtime != null" >
        #{usisEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usisScorereport != null" >
        #{usisScorereport,jdbcType=VARCHAR},
      </if>
      <if test="usisRemark != null" >
        #{usisRemark,jdbcType=VARCHAR},
      </if>
      <if test="usisCourseid != null" >
        #{usisCourseid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esst.ts.model.examUsersimnetitemscore" >
    update exam_usersimnetitemscore
    <set >
      <if test="usisUserdetailscoreid != null" >
        USIS_UserDetailScoreID = #{usisUserdetailscoreid,jdbcType=INTEGER},
      </if>
      <if test="usisExamproj != null" >
        USIS_ExamProj = #{usisExamproj,jdbcType=VARCHAR},
      </if>
      <if test="usisQweight != null" >
        USIS_QWeight = #{usisQweight,jdbcType=DOUBLE},
      </if>
      <if test="usisExamscore != null" >
        USIS_ExamScore = #{usisExamscore,jdbcType=DOUBLE},
      </if>
      <if test="usisStarttime != null" >
        USIS_StartTime = #{usisStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="usisEndtime != null" >
        USIS_EndTime = #{usisEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usisScorereport != null" >
        USIS_ScoreReport = #{usisScorereport,jdbcType=VARCHAR},
      </if>
      <if test="usisRemark != null" >
        USIS_Remark = #{usisRemark,jdbcType=VARCHAR},
      </if>
      <if test="usisCourseid != null" >
        USIS_CourseId = #{usisCourseid,jdbcType=INTEGER},
      </if>
    </set>
    where UserSimnetItemScoreID = #{usersimnetitemscoreid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esst.ts.model.examUsersimnetitemscore" >
    update exam_usersimnetitemscore
    set USIS_UserDetailScoreID = #{usisUserdetailscoreid,jdbcType=INTEGER},
      USIS_ExamProj = #{usisExamproj,jdbcType=VARCHAR},
      USIS_QWeight = #{usisQweight,jdbcType=DOUBLE},
      USIS_ExamScore = #{usisExamscore,jdbcType=DOUBLE},
      USIS_StartTime = #{usisStarttime,jdbcType=TIMESTAMP},
      USIS_EndTime = #{usisEndtime,jdbcType=TIMESTAMP},
      USIS_ScoreReport = #{usisScorereport,jdbcType=VARCHAR},
      USIS_Remark = #{usisRemark,jdbcType=VARCHAR},
      USIS_CourseId = #{usisCourseid,jdbcType=INTEGER}
    where UserSimnetItemScoreID = #{usersimnetitemscoreid,jdbcType=INTEGER}
  </update>
</mapper>