<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esst.ts.dao.examMapper" >
  <resultMap id="BaseResultMap" type="com.esst.ts.model.exam" >
    <id column="ExamID" property="examid" jdbcType="INTEGER" />
    <result column="E_ExamType" property="eExamtype" jdbcType="INTEGER" />
    <result column="E_TrainingID" property="eTrainingid" jdbcType="INTEGER" />
    <result column="E_PostID" property="ePostid" jdbcType="INTEGER" />
    <result column="E_PostGradeID" property="ePostgradeid" jdbcType="INTEGER" />
    <result column="E_ExamMode" property="eExammode" jdbcType="INTEGER" />
    <result column="E_Name" property="eName" jdbcType="VARCHAR" />
    <result column="E_StartTime" property="eStarttime" jdbcType="TIMESTAMP" />
    <result column="E_EndTime" property="eEndtime" jdbcType="TIMESTAMP" />
    <result column="E_TotalCaculate" property="eTotalcaculate" jdbcType="INTEGER" />
    <result column="E_TheoryProportion" property="eTheoryproportion" jdbcType="INTEGER" />
    <result column="E_OperateProportion" property="eOperateproportion" jdbcType="INTEGER" />
    <result column="E_PassLine" property="ePassline" jdbcType="INTEGER" />
    <result column="E_GoodLine" property="eGoodline" jdbcType="INTEGER" />
    <result column="E_ExcellentLine" property="eExcellentline" jdbcType="INTEGER" />
    <result column="E_CreateUser" property="eCreateuser" jdbcType="INTEGER" />
    <result column="E_CreateTime" property="eCreatetime" jdbcType="TIMESTAMP" />
    <result column="E_UpdateTime" property="eUpdatetime" jdbcType="TIMESTAMP" />
    <result column="E_IsFormalExam" property="eIsformalexam" jdbcType="INTEGER" />
    <result column="E_IsEnable" property="eIsenable" jdbcType="INTEGER" />
    <result column="E_Paper_Time" property="ePaperTime" jdbcType="INTEGER" />
    <result column="E_Paper_Anticheating" property="ePaperAnticheating" jdbcType="INTEGER" />
    <result column="E_Paper_Cameratime" property="ePaperCameratime" jdbcType="INTEGER" />
    <result column="E_Paper_Answermode" property="ePaperAnswermode" jdbcType="INTEGER" />
    <result column="E_Paper_QuestionDisorder" property="ePaperQuestiondisorder" jdbcType="INTEGER" />
    <result column="E_Paper_OptionDisorder" property="ePaperOptiondisorder" jdbcType="INTEGER" />
    <result column="E_Score_Isshow" property="eScoreIsshow" jdbcType="INTEGER" />
    <result column="E_Score_Isview" property="eScoreIsview" jdbcType="INTEGER" />
    <result column="E_Score_Endremark" property="eScoreEndremark" jdbcType="VARCHAR" />
    <result column="E_Score_IsComment" property="eScoreIscomment" jdbcType="INTEGER" />
    <result column="E_Score_Comment" property="eScoreComment" jdbcType="VARCHAR" />
    <result column="E_Score_Isnotice" property="eScoreIsnotice" jdbcType="INTEGER" />
    <result column="E_Score_IsRedo" property="eScoreIsredo" jdbcType="INTEGER" />
    <result column="E_CourseID" property="eCourseid" jdbcType="INTEGER" />
    <result column="E_CourseDirectoryNodeID" property="eCoursedirectorynodeid" jdbcType="INTEGER" />
    <result column="E_CourseDirectoryID" property="eCoursedirectoryid" jdbcType="INTEGER" />
    <result column="E_UploadTemplate" property="eUploadtemplate" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.esst.ts.model.exam" extends="BaseResultMap" >
    <result column="E_Information" property="eInformation" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ExamID, E_ExamType, E_TrainingID, E_PostID, E_PostGradeID, E_ExamMode, E_Name, E_StartTime, 
    E_EndTime, E_TotalCaculate, E_TheoryProportion, E_OperateProportion, E_PassLine, 
    E_GoodLine, E_ExcellentLine, E_CreateUser, E_CreateTime, E_UpdateTime, E_IsFormalExam, 
    E_IsEnable, E_Paper_Time, E_Paper_Anticheating, E_Paper_Cameratime, E_Paper_Answermode, 
    E_Paper_QuestionDisorder, E_Paper_OptionDisorder, E_Score_Isshow, E_Score_Isview, 
    E_Score_Endremark, E_Score_IsComment, E_Score_Comment, E_Score_Isnotice, E_Score_IsRedo, 
    E_CourseID, E_CourseDirectoryNodeID, E_CourseDirectoryID, E_UploadTemplate
  </sql>
  <sql id="Blob_Column_List" >
    E_Information
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from exam
    where ExamID = #{examid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exam
    where ExamID = #{examid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.esst.ts.model.exam" >
    insert into exam (ExamID, E_ExamType, E_TrainingID, 
      E_PostID, E_PostGradeID, E_ExamMode, 
      E_Name, E_StartTime, E_EndTime, 
      E_TotalCaculate, E_TheoryProportion, E_OperateProportion, 
      E_PassLine, E_GoodLine, E_ExcellentLine, 
      E_CreateUser, E_CreateTime, E_UpdateTime, 
      E_IsFormalExam, E_IsEnable, E_Paper_Time, 
      E_Paper_Anticheating, E_Paper_Cameratime, E_Paper_Answermode, 
      E_Paper_QuestionDisorder, E_Paper_OptionDisorder, 
      E_Score_Isshow, E_Score_Isview, E_Score_Endremark, 
      E_Score_IsComment, E_Score_Comment, E_Score_Isnotice, 
      E_Score_IsRedo, E_CourseID, E_CourseDirectoryNodeID, 
      E_CourseDirectoryID, E_UploadTemplate, E_Information
      )
    values (#{examid,jdbcType=INTEGER}, #{eExamtype,jdbcType=INTEGER}, #{eTrainingid,jdbcType=INTEGER}, 
      #{ePostid,jdbcType=INTEGER}, #{ePostgradeid,jdbcType=INTEGER}, #{eExammode,jdbcType=INTEGER}, 
      #{eName,jdbcType=VARCHAR}, #{eStarttime,jdbcType=TIMESTAMP}, #{eEndtime,jdbcType=TIMESTAMP}, 
      #{eTotalcaculate,jdbcType=INTEGER}, #{eTheoryproportion,jdbcType=INTEGER}, #{eOperateproportion,jdbcType=INTEGER}, 
      #{ePassline,jdbcType=INTEGER}, #{eGoodline,jdbcType=INTEGER}, #{eExcellentline,jdbcType=INTEGER}, 
      #{eCreateuser,jdbcType=INTEGER}, #{eCreatetime,jdbcType=TIMESTAMP}, #{eUpdatetime,jdbcType=TIMESTAMP}, 
      #{eIsformalexam,jdbcType=INTEGER}, #{eIsenable,jdbcType=INTEGER}, #{ePaperTime,jdbcType=INTEGER}, 
      #{ePaperAnticheating,jdbcType=INTEGER}, #{ePaperCameratime,jdbcType=INTEGER}, #{ePaperAnswermode,jdbcType=INTEGER}, 
      #{ePaperQuestiondisorder,jdbcType=INTEGER}, #{ePaperOptiondisorder,jdbcType=INTEGER}, 
      #{eScoreIsshow,jdbcType=INTEGER}, #{eScoreIsview,jdbcType=INTEGER}, #{eScoreEndremark,jdbcType=VARCHAR}, 
      #{eScoreIscomment,jdbcType=INTEGER}, #{eScoreComment,jdbcType=VARCHAR}, #{eScoreIsnotice,jdbcType=INTEGER}, 
      #{eScoreIsredo,jdbcType=INTEGER}, #{eCourseid,jdbcType=INTEGER}, #{eCoursedirectorynodeid,jdbcType=INTEGER}, 
      #{eCoursedirectoryid,jdbcType=INTEGER}, #{eUploadtemplate,jdbcType=VARCHAR}, #{eInformation,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.esst.ts.model.exam" >
    insert into exam
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="examid != null" >
        ExamID,
      </if>
      <if test="eExamtype != null" >
        E_ExamType,
      </if>
      <if test="eTrainingid != null" >
        E_TrainingID,
      </if>
      <if test="ePostid != null" >
        E_PostID,
      </if>
      <if test="ePostgradeid != null" >
        E_PostGradeID,
      </if>
      <if test="eExammode != null" >
        E_ExamMode,
      </if>
      <if test="eName != null" >
        E_Name,
      </if>
      <if test="eStarttime != null" >
        E_StartTime,
      </if>
      <if test="eEndtime != null" >
        E_EndTime,
      </if>
      <if test="eTotalcaculate != null" >
        E_TotalCaculate,
      </if>
      <if test="eTheoryproportion != null" >
        E_TheoryProportion,
      </if>
      <if test="eOperateproportion != null" >
        E_OperateProportion,
      </if>
      <if test="ePassline != null" >
        E_PassLine,
      </if>
      <if test="eGoodline != null" >
        E_GoodLine,
      </if>
      <if test="eExcellentline != null" >
        E_ExcellentLine,
      </if>
      <if test="eCreateuser != null" >
        E_CreateUser,
      </if>
      <if test="eCreatetime != null" >
        E_CreateTime,
      </if>
      <if test="eUpdatetime != null" >
        E_UpdateTime,
      </if>
      <if test="eIsformalexam != null" >
        E_IsFormalExam,
      </if>
      <if test="eIsenable != null" >
        E_IsEnable,
      </if>
      <if test="ePaperTime != null" >
        E_Paper_Time,
      </if>
      <if test="ePaperAnticheating != null" >
        E_Paper_Anticheating,
      </if>
      <if test="ePaperCameratime != null" >
        E_Paper_Cameratime,
      </if>
      <if test="ePaperAnswermode != null" >
        E_Paper_Answermode,
      </if>
      <if test="ePaperQuestiondisorder != null" >
        E_Paper_QuestionDisorder,
      </if>
      <if test="ePaperOptiondisorder != null" >
        E_Paper_OptionDisorder,
      </if>
      <if test="eScoreIsshow != null" >
        E_Score_Isshow,
      </if>
      <if test="eScoreIsview != null" >
        E_Score_Isview,
      </if>
      <if test="eScoreEndremark != null" >
        E_Score_Endremark,
      </if>
      <if test="eScoreIscomment != null" >
        E_Score_IsComment,
      </if>
      <if test="eScoreComment != null" >
        E_Score_Comment,
      </if>
      <if test="eScoreIsnotice != null" >
        E_Score_Isnotice,
      </if>
      <if test="eScoreIsredo != null" >
        E_Score_IsRedo,
      </if>
      <if test="eCourseid != null" >
        E_CourseID,
      </if>
      <if test="eCoursedirectorynodeid != null" >
        E_CourseDirectoryNodeID,
      </if>
      <if test="eCoursedirectoryid != null" >
        E_CourseDirectoryID,
      </if>
      <if test="eUploadtemplate != null" >
        E_UploadTemplate,
      </if>
      <if test="eInformation != null" >
        E_Information,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="examid != null" >
        #{examid,jdbcType=INTEGER},
      </if>
      <if test="eExamtype != null" >
        #{eExamtype,jdbcType=INTEGER},
      </if>
      <if test="eTrainingid != null" >
        #{eTrainingid,jdbcType=INTEGER},
      </if>
      <if test="ePostid != null" >
        #{ePostid,jdbcType=INTEGER},
      </if>
      <if test="ePostgradeid != null" >
        #{ePostgradeid,jdbcType=INTEGER},
      </if>
      <if test="eExammode != null" >
        #{eExammode,jdbcType=INTEGER},
      </if>
      <if test="eName != null" >
        #{eName,jdbcType=VARCHAR},
      </if>
      <if test="eStarttime != null" >
        #{eStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="eEndtime != null" >
        #{eEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="eTotalcaculate != null" >
        #{eTotalcaculate,jdbcType=INTEGER},
      </if>
      <if test="eTheoryproportion != null" >
        #{eTheoryproportion,jdbcType=INTEGER},
      </if>
      <if test="eOperateproportion != null" >
        #{eOperateproportion,jdbcType=INTEGER},
      </if>
      <if test="ePassline != null" >
        #{ePassline,jdbcType=INTEGER},
      </if>
      <if test="eGoodline != null" >
        #{eGoodline,jdbcType=INTEGER},
      </if>
      <if test="eExcellentline != null" >
        #{eExcellentline,jdbcType=INTEGER},
      </if>
      <if test="eCreateuser != null" >
        #{eCreateuser,jdbcType=INTEGER},
      </if>
      <if test="eCreatetime != null" >
        #{eCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="eUpdatetime != null" >
        #{eUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="eIsformalexam != null" >
        #{eIsformalexam,jdbcType=INTEGER},
      </if>
      <if test="eIsenable != null" >
        #{eIsenable,jdbcType=INTEGER},
      </if>
      <if test="ePaperTime != null" >
        #{ePaperTime,jdbcType=INTEGER},
      </if>
      <if test="ePaperAnticheating != null" >
        #{ePaperAnticheating,jdbcType=INTEGER},
      </if>
      <if test="ePaperCameratime != null" >
        #{ePaperCameratime,jdbcType=INTEGER},
      </if>
      <if test="ePaperAnswermode != null" >
        #{ePaperAnswermode,jdbcType=INTEGER},
      </if>
      <if test="ePaperQuestiondisorder != null" >
        #{ePaperQuestiondisorder,jdbcType=INTEGER},
      </if>
      <if test="ePaperOptiondisorder != null" >
        #{ePaperOptiondisorder,jdbcType=INTEGER},
      </if>
      <if test="eScoreIsshow != null" >
        #{eScoreIsshow,jdbcType=INTEGER},
      </if>
      <if test="eScoreIsview != null" >
        #{eScoreIsview,jdbcType=INTEGER},
      </if>
      <if test="eScoreEndremark != null" >
        #{eScoreEndremark,jdbcType=VARCHAR},
      </if>
      <if test="eScoreIscomment != null" >
        #{eScoreIscomment,jdbcType=INTEGER},
      </if>
      <if test="eScoreComment != null" >
        #{eScoreComment,jdbcType=VARCHAR},
      </if>
      <if test="eScoreIsnotice != null" >
        #{eScoreIsnotice,jdbcType=INTEGER},
      </if>
      <if test="eScoreIsredo != null" >
        #{eScoreIsredo,jdbcType=INTEGER},
      </if>
      <if test="eCourseid != null" >
        #{eCourseid,jdbcType=INTEGER},
      </if>
      <if test="eCoursedirectorynodeid != null" >
        #{eCoursedirectorynodeid,jdbcType=INTEGER},
      </if>
      <if test="eCoursedirectoryid != null" >
        #{eCoursedirectoryid,jdbcType=INTEGER},
      </if>
      <if test="eUploadtemplate != null" >
        #{eUploadtemplate,jdbcType=VARCHAR},
      </if>
      <if test="eInformation != null" >
        #{eInformation,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esst.ts.model.exam" >
    update exam
    <set >
      <if test="eExamtype != null" >
        E_ExamType = #{eExamtype,jdbcType=INTEGER},
      </if>
      <if test="eTrainingid != null" >
        E_TrainingID = #{eTrainingid,jdbcType=INTEGER},
      </if>
      <if test="ePostid != null" >
        E_PostID = #{ePostid,jdbcType=INTEGER},
      </if>
      <if test="ePostgradeid != null" >
        E_PostGradeID = #{ePostgradeid,jdbcType=INTEGER},
      </if>
      <if test="eExammode != null" >
        E_ExamMode = #{eExammode,jdbcType=INTEGER},
      </if>
      <if test="eName != null" >
        E_Name = #{eName,jdbcType=VARCHAR},
      </if>
      <if test="eStarttime != null" >
        E_StartTime = #{eStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="eEndtime != null" >
        E_EndTime = #{eEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="eTotalcaculate != null" >
        E_TotalCaculate = #{eTotalcaculate,jdbcType=INTEGER},
      </if>
      <if test="eTheoryproportion != null" >
        E_TheoryProportion = #{eTheoryproportion,jdbcType=INTEGER},
      </if>
      <if test="eOperateproportion != null" >
        E_OperateProportion = #{eOperateproportion,jdbcType=INTEGER},
      </if>
      <if test="ePassline != null" >
        E_PassLine = #{ePassline,jdbcType=INTEGER},
      </if>
      <if test="eGoodline != null" >
        E_GoodLine = #{eGoodline,jdbcType=INTEGER},
      </if>
      <if test="eExcellentline != null" >
        E_ExcellentLine = #{eExcellentline,jdbcType=INTEGER},
      </if>
      <if test="eCreateuser != null" >
        E_CreateUser = #{eCreateuser,jdbcType=INTEGER},
      </if>
      <if test="eCreatetime != null" >
        E_CreateTime = #{eCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="eUpdatetime != null" >
        E_UpdateTime = #{eUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="eIsformalexam != null" >
        E_IsFormalExam = #{eIsformalexam,jdbcType=INTEGER},
      </if>
      <if test="eIsenable != null" >
        E_IsEnable = #{eIsenable,jdbcType=INTEGER},
      </if>
      <if test="ePaperTime != null" >
        E_Paper_Time = #{ePaperTime,jdbcType=INTEGER},
      </if>
      <if test="ePaperAnticheating != null" >
        E_Paper_Anticheating = #{ePaperAnticheating,jdbcType=INTEGER},
      </if>
      <if test="ePaperCameratime != null" >
        E_Paper_Cameratime = #{ePaperCameratime,jdbcType=INTEGER},
      </if>
      <if test="ePaperAnswermode != null" >
        E_Paper_Answermode = #{ePaperAnswermode,jdbcType=INTEGER},
      </if>
      <if test="ePaperQuestiondisorder != null" >
        E_Paper_QuestionDisorder = #{ePaperQuestiondisorder,jdbcType=INTEGER},
      </if>
      <if test="ePaperOptiondisorder != null" >
        E_Paper_OptionDisorder = #{ePaperOptiondisorder,jdbcType=INTEGER},
      </if>
      <if test="eScoreIsshow != null" >
        E_Score_Isshow = #{eScoreIsshow,jdbcType=INTEGER},
      </if>
      <if test="eScoreIsview != null" >
        E_Score_Isview = #{eScoreIsview,jdbcType=INTEGER},
      </if>
      <if test="eScoreEndremark != null" >
        E_Score_Endremark = #{eScoreEndremark,jdbcType=VARCHAR},
      </if>
      <if test="eScoreIscomment != null" >
        E_Score_IsComment = #{eScoreIscomment,jdbcType=INTEGER},
      </if>
      <if test="eScoreComment != null" >
        E_Score_Comment = #{eScoreComment,jdbcType=VARCHAR},
      </if>
      <if test="eScoreIsnotice != null" >
        E_Score_Isnotice = #{eScoreIsnotice,jdbcType=INTEGER},
      </if>
      <if test="eScoreIsredo != null" >
        E_Score_IsRedo = #{eScoreIsredo,jdbcType=INTEGER},
      </if>
      <if test="eCourseid != null" >
        E_CourseID = #{eCourseid,jdbcType=INTEGER},
      </if>
      <if test="eCoursedirectorynodeid != null" >
        E_CourseDirectoryNodeID = #{eCoursedirectorynodeid,jdbcType=INTEGER},
      </if>
      <if test="eCoursedirectoryid != null" >
        E_CourseDirectoryID = #{eCoursedirectoryid,jdbcType=INTEGER},
      </if>
      <if test="eUploadtemplate != null" >
        E_UploadTemplate = #{eUploadtemplate,jdbcType=VARCHAR},
      </if>
      <if test="eInformation != null" >
        E_Information = #{eInformation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ExamID = #{examid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.esst.ts.model.exam" >
    update exam
    set E_ExamType = #{eExamtype,jdbcType=INTEGER},
      E_TrainingID = #{eTrainingid,jdbcType=INTEGER},
      E_PostID = #{ePostid,jdbcType=INTEGER},
      E_PostGradeID = #{ePostgradeid,jdbcType=INTEGER},
      E_ExamMode = #{eExammode,jdbcType=INTEGER},
      E_Name = #{eName,jdbcType=VARCHAR},
      E_StartTime = #{eStarttime,jdbcType=TIMESTAMP},
      E_EndTime = #{eEndtime,jdbcType=TIMESTAMP},
      E_TotalCaculate = #{eTotalcaculate,jdbcType=INTEGER},
      E_TheoryProportion = #{eTheoryproportion,jdbcType=INTEGER},
      E_OperateProportion = #{eOperateproportion,jdbcType=INTEGER},
      E_PassLine = #{ePassline,jdbcType=INTEGER},
      E_GoodLine = #{eGoodline,jdbcType=INTEGER},
      E_ExcellentLine = #{eExcellentline,jdbcType=INTEGER},
      E_CreateUser = #{eCreateuser,jdbcType=INTEGER},
      E_CreateTime = #{eCreatetime,jdbcType=TIMESTAMP},
      E_UpdateTime = #{eUpdatetime,jdbcType=TIMESTAMP},
      E_IsFormalExam = #{eIsformalexam,jdbcType=INTEGER},
      E_IsEnable = #{eIsenable,jdbcType=INTEGER},
      E_Paper_Time = #{ePaperTime,jdbcType=INTEGER},
      E_Paper_Anticheating = #{ePaperAnticheating,jdbcType=INTEGER},
      E_Paper_Cameratime = #{ePaperCameratime,jdbcType=INTEGER},
      E_Paper_Answermode = #{ePaperAnswermode,jdbcType=INTEGER},
      E_Paper_QuestionDisorder = #{ePaperQuestiondisorder,jdbcType=INTEGER},
      E_Paper_OptionDisorder = #{ePaperOptiondisorder,jdbcType=INTEGER},
      E_Score_Isshow = #{eScoreIsshow,jdbcType=INTEGER},
      E_Score_Isview = #{eScoreIsview,jdbcType=INTEGER},
      E_Score_Endremark = #{eScoreEndremark,jdbcType=VARCHAR},
      E_Score_IsComment = #{eScoreIscomment,jdbcType=INTEGER},
      E_Score_Comment = #{eScoreComment,jdbcType=VARCHAR},
      E_Score_Isnotice = #{eScoreIsnotice,jdbcType=INTEGER},
      E_Score_IsRedo = #{eScoreIsredo,jdbcType=INTEGER},
      E_CourseID = #{eCourseid,jdbcType=INTEGER},
      E_CourseDirectoryNodeID = #{eCoursedirectorynodeid,jdbcType=INTEGER},
      E_CourseDirectoryID = #{eCoursedirectoryid,jdbcType=INTEGER},
      E_UploadTemplate = #{eUploadtemplate,jdbcType=VARCHAR},
      E_Information = #{eInformation,jdbcType=LONGVARCHAR}
    where ExamID = #{examid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esst.ts.model.exam" >
    update exam
    set E_ExamType = #{eExamtype,jdbcType=INTEGER},
      E_TrainingID = #{eTrainingid,jdbcType=INTEGER},
      E_PostID = #{ePostid,jdbcType=INTEGER},
      E_PostGradeID = #{ePostgradeid,jdbcType=INTEGER},
      E_ExamMode = #{eExammode,jdbcType=INTEGER},
      E_Name = #{eName,jdbcType=VARCHAR},
      E_StartTime = #{eStarttime,jdbcType=TIMESTAMP},
      E_EndTime = #{eEndtime,jdbcType=TIMESTAMP},
      E_TotalCaculate = #{eTotalcaculate,jdbcType=INTEGER},
      E_TheoryProportion = #{eTheoryproportion,jdbcType=INTEGER},
      E_OperateProportion = #{eOperateproportion,jdbcType=INTEGER},
      E_PassLine = #{ePassline,jdbcType=INTEGER},
      E_GoodLine = #{eGoodline,jdbcType=INTEGER},
      E_ExcellentLine = #{eExcellentline,jdbcType=INTEGER},
      E_CreateUser = #{eCreateuser,jdbcType=INTEGER},
      E_CreateTime = #{eCreatetime,jdbcType=TIMESTAMP},
      E_UpdateTime = #{eUpdatetime,jdbcType=TIMESTAMP},
      E_IsFormalExam = #{eIsformalexam,jdbcType=INTEGER},
      E_IsEnable = #{eIsenable,jdbcType=INTEGER},
      E_Paper_Time = #{ePaperTime,jdbcType=INTEGER},
      E_Paper_Anticheating = #{ePaperAnticheating,jdbcType=INTEGER},
      E_Paper_Cameratime = #{ePaperCameratime,jdbcType=INTEGER},
      E_Paper_Answermode = #{ePaperAnswermode,jdbcType=INTEGER},
      E_Paper_QuestionDisorder = #{ePaperQuestiondisorder,jdbcType=INTEGER},
      E_Paper_OptionDisorder = #{ePaperOptiondisorder,jdbcType=INTEGER},
      E_Score_Isshow = #{eScoreIsshow,jdbcType=INTEGER},
      E_Score_Isview = #{eScoreIsview,jdbcType=INTEGER},
      E_Score_Endremark = #{eScoreEndremark,jdbcType=VARCHAR},
      E_Score_IsComment = #{eScoreIscomment,jdbcType=INTEGER},
      E_Score_Comment = #{eScoreComment,jdbcType=VARCHAR},
      E_Score_Isnotice = #{eScoreIsnotice,jdbcType=INTEGER},
      E_Score_IsRedo = #{eScoreIsredo,jdbcType=INTEGER},
      E_CourseID = #{eCourseid,jdbcType=INTEGER},
      E_CourseDirectoryNodeID = #{eCoursedirectorynodeid,jdbcType=INTEGER},
      E_CourseDirectoryID = #{eCoursedirectoryid,jdbcType=INTEGER},
      E_UploadTemplate = #{eUploadtemplate,jdbcType=VARCHAR}
    where ExamID = #{examid,jdbcType=INTEGER}
  </update>
</mapper>