<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esst.ts.dao.FZhKTMapper" >
  <resultMap id="BaseResultMap" type="com.esst.ts.model.courseTaskModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="course_id" property="course_id" jdbcType="INTEGER" />
    <result column="task_id" property="task_id" jdbcType="INTEGER" />
    <result column="task_name" property="task_name" jdbcType="CHAR" />
    <result column="isenabled" property="isenabled" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, course_id, task_id, task_name, isenabled
  </sql>
  <select id="getCourseTaskLstDemo" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from course_task
    where course_id = #{courseID,jdbcType=INTEGER}
  </select>
</mapper>