<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esst.ts.dao.paperMapper" >
  <resultMap id="BaseResultMap" type="com.esst.ts.model.paper" >
    <id column="PaperID" property="paperid" jdbcType="INTEGER" />
    <result column="P_PaperCategoryID" property="pPapercategoryid" jdbcType="INTEGER" />
    <result column="P_PaperName" property="pPapername" jdbcType="VARCHAR" />
    <result column="P_Type" property="pType" jdbcType="INTEGER" />
    <result column="P_Model" property="pModel" jdbcType="INTEGER" />
    <result column="P_SimnetNo" property="pSimnetno" jdbcType="VARCHAR" />
    <result column="P_Time" property="pTime" jdbcType="INTEGER" />
    <result column="P_AllowExamTimes" property="pAllowexamtimes" jdbcType="INTEGER" />
    <result column="P_IncludeQuestionType" property="pIncludequestiontype" jdbcType="VARCHAR" />
    <result column="P_SingleValue" property="pSinglevalue" jdbcType="DOUBLE" />
    <result column="P_MultipleValue" property="pMultiplevalue" jdbcType="DOUBLE" />
    <result column="P_JudgeValue" property="pJudgevalue" jdbcType="DOUBLE" />
    <result column="P_FillBlankValue" property="pFillblankvalue" jdbcType="DOUBLE" />
    <result column="P_EssayValue" property="pEssayvalue" jdbcType="DOUBLE" />
    <result column="P_CaculateValue" property="pCaculatevalue" jdbcType="DOUBLE" />
    <result column="P_Total" property="pTotal" jdbcType="DOUBLE" />
    <result column="P_IsNeedMark" property="pIsneedmark" jdbcType="INTEGER" />
    <result column="P_CreateUser" property="pCreateuser" jdbcType="INTEGER" />
    <result column="P_CreateTime" property="pCreatetime" jdbcType="TIMESTAMP" />
    <result column="P_Organize_Mode" property="pOrganizeMode" jdbcType="INTEGER" />
    <result column="P_Total_Questions" property="pTotalQuestions" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.esst.ts.model.paperWithBLOBs" extends="BaseResultMap" >
    <result column="P_Single" property="pSingle" jdbcType="LONGVARCHAR" />
    <result column="P_Multiple" property="pMultiple" jdbcType="LONGVARCHAR" />
    <result column="P_Judge" property="pJudge" jdbcType="LONGVARCHAR" />
    <result column="P_FillBlank" property="pFillblank" jdbcType="LONGVARCHAR" />
    <result column="P_Essay" property="pEssay" jdbcType="LONGVARCHAR" />
    <result column="P_Caculate" property="pCaculate" jdbcType="LONGVARCHAR" />
    <result column="P_SimnetXML" property="pSimnetxml" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PaperID, P_PaperCategoryID, P_PaperName, P_Type, P_Model, P_SimnetNo, P_Time, P_AllowExamTimes, 
    P_IncludeQuestionType, P_SingleValue, P_MultipleValue, P_JudgeValue, P_FillBlankValue, 
    P_EssayValue, P_CaculateValue, P_Total, P_IsNeedMark, P_CreateUser, P_CreateTime, 
    P_Organize_Mode, P_Total_Questions
  </sql>
  <sql id="Blob_Column_List" >
    P_Single, P_Multiple, P_Judge, P_FillBlank, P_Essay, P_Caculate, P_SimnetXML
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from paper
    where PaperID = #{paperid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from paper
    where PaperID = #{paperid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.esst.ts.model.paperWithBLOBs" >
    insert into paper (PaperID, P_PaperCategoryID, P_PaperName, 
      P_Type, P_Model, P_SimnetNo, 
      P_Time, P_AllowExamTimes, P_IncludeQuestionType, 
      P_SingleValue, P_MultipleValue, P_JudgeValue, 
      P_FillBlankValue, P_EssayValue, P_CaculateValue, 
      P_Total, P_IsNeedMark, P_CreateUser, 
      P_CreateTime, P_Organize_Mode, P_Total_Questions, 
      P_Single, P_Multiple, P_Judge, 
      P_FillBlank, P_Essay, P_Caculate, 
      P_SimnetXML)
    values (#{paperid,jdbcType=INTEGER}, #{pPapercategoryid,jdbcType=INTEGER}, #{pPapername,jdbcType=VARCHAR}, 
      #{pType,jdbcType=INTEGER}, #{pModel,jdbcType=INTEGER}, #{pSimnetno,jdbcType=VARCHAR}, 
      #{pTime,jdbcType=INTEGER}, #{pAllowexamtimes,jdbcType=INTEGER}, #{pIncludequestiontype,jdbcType=VARCHAR}, 
      #{pSinglevalue,jdbcType=DOUBLE}, #{pMultiplevalue,jdbcType=DOUBLE}, #{pJudgevalue,jdbcType=DOUBLE}, 
      #{pFillblankvalue,jdbcType=DOUBLE}, #{pEssayvalue,jdbcType=DOUBLE}, #{pCaculatevalue,jdbcType=DOUBLE}, 
      #{pTotal,jdbcType=DOUBLE}, #{pIsneedmark,jdbcType=INTEGER}, #{pCreateuser,jdbcType=INTEGER}, 
      #{pCreatetime,jdbcType=TIMESTAMP}, #{pOrganizeMode,jdbcType=INTEGER}, #{pTotalQuestions,jdbcType=INTEGER}, 
      #{pSingle,jdbcType=LONGVARCHAR}, #{pMultiple,jdbcType=LONGVARCHAR}, #{pJudge,jdbcType=LONGVARCHAR}, 
      #{pFillblank,jdbcType=LONGVARCHAR}, #{pEssay,jdbcType=LONGVARCHAR}, #{pCaculate,jdbcType=LONGVARCHAR}, 
      #{pSimnetxml,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.esst.ts.model.paperWithBLOBs" >
    insert into paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paperid != null" >
        PaperID,
      </if>
      <if test="pPapercategoryid != null" >
        P_PaperCategoryID,
      </if>
      <if test="pPapername != null" >
        P_PaperName,
      </if>
      <if test="pType != null" >
        P_Type,
      </if>
      <if test="pModel != null" >
        P_Model,
      </if>
      <if test="pSimnetno != null" >
        P_SimnetNo,
      </if>
      <if test="pTime != null" >
        P_Time,
      </if>
      <if test="pAllowexamtimes != null" >
        P_AllowExamTimes,
      </if>
      <if test="pIncludequestiontype != null" >
        P_IncludeQuestionType,
      </if>
      <if test="pSinglevalue != null" >
        P_SingleValue,
      </if>
      <if test="pMultiplevalue != null" >
        P_MultipleValue,
      </if>
      <if test="pJudgevalue != null" >
        P_JudgeValue,
      </if>
      <if test="pFillblankvalue != null" >
        P_FillBlankValue,
      </if>
      <if test="pEssayvalue != null" >
        P_EssayValue,
      </if>
      <if test="pCaculatevalue != null" >
        P_CaculateValue,
      </if>
      <if test="pTotal != null" >
        P_Total,
      </if>
      <if test="pIsneedmark != null" >
        P_IsNeedMark,
      </if>
      <if test="pCreateuser != null" >
        P_CreateUser,
      </if>
      <if test="pCreatetime != null" >
        P_CreateTime,
      </if>
      <if test="pOrganizeMode != null" >
        P_Organize_Mode,
      </if>
      <if test="pTotalQuestions != null" >
        P_Total_Questions,
      </if>
      <if test="pSingle != null" >
        P_Single,
      </if>
      <if test="pMultiple != null" >
        P_Multiple,
      </if>
      <if test="pJudge != null" >
        P_Judge,
      </if>
      <if test="pFillblank != null" >
        P_FillBlank,
      </if>
      <if test="pEssay != null" >
        P_Essay,
      </if>
      <if test="pCaculate != null" >
        P_Caculate,
      </if>
      <if test="pSimnetxml != null" >
        P_SimnetXML,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paperid != null" >
        #{paperid,jdbcType=INTEGER},
      </if>
      <if test="pPapercategoryid != null" >
        #{pPapercategoryid,jdbcType=INTEGER},
      </if>
      <if test="pPapername != null" >
        #{pPapername,jdbcType=VARCHAR},
      </if>
      <if test="pType != null" >
        #{pType,jdbcType=INTEGER},
      </if>
      <if test="pModel != null" >
        #{pModel,jdbcType=INTEGER},
      </if>
      <if test="pSimnetno != null" >
        #{pSimnetno,jdbcType=VARCHAR},
      </if>
      <if test="pTime != null" >
        #{pTime,jdbcType=INTEGER},
      </if>
      <if test="pAllowexamtimes != null" >
        #{pAllowexamtimes,jdbcType=INTEGER},
      </if>
      <if test="pIncludequestiontype != null" >
        #{pIncludequestiontype,jdbcType=VARCHAR},
      </if>
      <if test="pSinglevalue != null" >
        #{pSinglevalue,jdbcType=DOUBLE},
      </if>
      <if test="pMultiplevalue != null" >
        #{pMultiplevalue,jdbcType=DOUBLE},
      </if>
      <if test="pJudgevalue != null" >
        #{pJudgevalue,jdbcType=DOUBLE},
      </if>
      <if test="pFillblankvalue != null" >
        #{pFillblankvalue,jdbcType=DOUBLE},
      </if>
      <if test="pEssayvalue != null" >
        #{pEssayvalue,jdbcType=DOUBLE},
      </if>
      <if test="pCaculatevalue != null" >
        #{pCaculatevalue,jdbcType=DOUBLE},
      </if>
      <if test="pTotal != null" >
        #{pTotal,jdbcType=DOUBLE},
      </if>
      <if test="pIsneedmark != null" >
        #{pIsneedmark,jdbcType=INTEGER},
      </if>
      <if test="pCreateuser != null" >
        #{pCreateuser,jdbcType=INTEGER},
      </if>
      <if test="pCreatetime != null" >
        #{pCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="pOrganizeMode != null" >
        #{pOrganizeMode,jdbcType=INTEGER},
      </if>
      <if test="pTotalQuestions != null" >
        #{pTotalQuestions,jdbcType=INTEGER},
      </if>
      <if test="pSingle != null" >
        #{pSingle,jdbcType=LONGVARCHAR},
      </if>
      <if test="pMultiple != null" >
        #{pMultiple,jdbcType=LONGVARCHAR},
      </if>
      <if test="pJudge != null" >
        #{pJudge,jdbcType=LONGVARCHAR},
      </if>
      <if test="pFillblank != null" >
        #{pFillblank,jdbcType=LONGVARCHAR},
      </if>
      <if test="pEssay != null" >
        #{pEssay,jdbcType=LONGVARCHAR},
      </if>
      <if test="pCaculate != null" >
        #{pCaculate,jdbcType=LONGVARCHAR},
      </if>
      <if test="pSimnetxml != null" >
        #{pSimnetxml,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esst.ts.model.paperWithBLOBs" >
    update paper
    <set >
      <if test="pPapercategoryid != null" >
        P_PaperCategoryID = #{pPapercategoryid,jdbcType=INTEGER},
      </if>
      <if test="pPapername != null" >
        P_PaperName = #{pPapername,jdbcType=VARCHAR},
      </if>
      <if test="pType != null" >
        P_Type = #{pType,jdbcType=INTEGER},
      </if>
      <if test="pModel != null" >
        P_Model = #{pModel,jdbcType=INTEGER},
      </if>
      <if test="pSimnetno != null" >
        P_SimnetNo = #{pSimnetno,jdbcType=VARCHAR},
      </if>
      <if test="pTime != null" >
        P_Time = #{pTime,jdbcType=INTEGER},
      </if>
      <if test="pAllowexamtimes != null" >
        P_AllowExamTimes = #{pAllowexamtimes,jdbcType=INTEGER},
      </if>
      <if test="pIncludequestiontype != null" >
        P_IncludeQuestionType = #{pIncludequestiontype,jdbcType=VARCHAR},
      </if>
      <if test="pSinglevalue != null" >
        P_SingleValue = #{pSinglevalue,jdbcType=DOUBLE},
      </if>
      <if test="pMultiplevalue != null" >
        P_MultipleValue = #{pMultiplevalue,jdbcType=DOUBLE},
      </if>
      <if test="pJudgevalue != null" >
        P_JudgeValue = #{pJudgevalue,jdbcType=DOUBLE},
      </if>
      <if test="pFillblankvalue != null" >
        P_FillBlankValue = #{pFillblankvalue,jdbcType=DOUBLE},
      </if>
      <if test="pEssayvalue != null" >
        P_EssayValue = #{pEssayvalue,jdbcType=DOUBLE},
      </if>
      <if test="pCaculatevalue != null" >
        P_CaculateValue = #{pCaculatevalue,jdbcType=DOUBLE},
      </if>
      <if test="pTotal != null" >
        P_Total = #{pTotal,jdbcType=DOUBLE},
      </if>
      <if test="pIsneedmark != null" >
        P_IsNeedMark = #{pIsneedmark,jdbcType=INTEGER},
      </if>
      <if test="pCreateuser != null" >
        P_CreateUser = #{pCreateuser,jdbcType=INTEGER},
      </if>
      <if test="pCreatetime != null" >
        P_CreateTime = #{pCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="pOrganizeMode != null" >
        P_Organize_Mode = #{pOrganizeMode,jdbcType=INTEGER},
      </if>
      <if test="pTotalQuestions != null" >
        P_Total_Questions = #{pTotalQuestions,jdbcType=INTEGER},
      </if>
      <if test="pSingle != null" >
        P_Single = #{pSingle,jdbcType=LONGVARCHAR},
      </if>
      <if test="pMultiple != null" >
        P_Multiple = #{pMultiple,jdbcType=LONGVARCHAR},
      </if>
      <if test="pJudge != null" >
        P_Judge = #{pJudge,jdbcType=LONGVARCHAR},
      </if>
      <if test="pFillblank != null" >
        P_FillBlank = #{pFillblank,jdbcType=LONGVARCHAR},
      </if>
      <if test="pEssay != null" >
        P_Essay = #{pEssay,jdbcType=LONGVARCHAR},
      </if>
      <if test="pCaculate != null" >
        P_Caculate = #{pCaculate,jdbcType=LONGVARCHAR},
      </if>
      <if test="pSimnetxml != null" >
        P_SimnetXML = #{pSimnetxml,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where PaperID = #{paperid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.esst.ts.model.paperWithBLOBs" >
    update paper
    set P_PaperCategoryID = #{pPapercategoryid,jdbcType=INTEGER},
      P_PaperName = #{pPapername,jdbcType=VARCHAR},
      P_Type = #{pType,jdbcType=INTEGER},
      P_Model = #{pModel,jdbcType=INTEGER},
      P_SimnetNo = #{pSimnetno,jdbcType=VARCHAR},
      P_Time = #{pTime,jdbcType=INTEGER},
      P_AllowExamTimes = #{pAllowexamtimes,jdbcType=INTEGER},
      P_IncludeQuestionType = #{pIncludequestiontype,jdbcType=VARCHAR},
      P_SingleValue = #{pSinglevalue,jdbcType=DOUBLE},
      P_MultipleValue = #{pMultiplevalue,jdbcType=DOUBLE},
      P_JudgeValue = #{pJudgevalue,jdbcType=DOUBLE},
      P_FillBlankValue = #{pFillblankvalue,jdbcType=DOUBLE},
      P_EssayValue = #{pEssayvalue,jdbcType=DOUBLE},
      P_CaculateValue = #{pCaculatevalue,jdbcType=DOUBLE},
      P_Total = #{pTotal,jdbcType=DOUBLE},
      P_IsNeedMark = #{pIsneedmark,jdbcType=INTEGER},
      P_CreateUser = #{pCreateuser,jdbcType=INTEGER},
      P_CreateTime = #{pCreatetime,jdbcType=TIMESTAMP},
      P_Organize_Mode = #{pOrganizeMode,jdbcType=INTEGER},
      P_Total_Questions = #{pTotalQuestions,jdbcType=INTEGER},
      P_Single = #{pSingle,jdbcType=LONGVARCHAR},
      P_Multiple = #{pMultiple,jdbcType=LONGVARCHAR},
      P_Judge = #{pJudge,jdbcType=LONGVARCHAR},
      P_FillBlank = #{pFillblank,jdbcType=LONGVARCHAR},
      P_Essay = #{pEssay,jdbcType=LONGVARCHAR},
      P_Caculate = #{pCaculate,jdbcType=LONGVARCHAR},
      P_SimnetXML = #{pSimnetxml,jdbcType=LONGVARCHAR}
    where PaperID = #{paperid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esst.ts.model.paper" >
    update paper
    set P_PaperCategoryID = #{pPapercategoryid,jdbcType=INTEGER},
      P_PaperName = #{pPapername,jdbcType=VARCHAR},
      P_Type = #{pType,jdbcType=INTEGER},
      P_Model = #{pModel,jdbcType=INTEGER},
      P_SimnetNo = #{pSimnetno,jdbcType=VARCHAR},
      P_Time = #{pTime,jdbcType=INTEGER},
      P_AllowExamTimes = #{pAllowexamtimes,jdbcType=INTEGER},
      P_IncludeQuestionType = #{pIncludequestiontype,jdbcType=VARCHAR},
      P_SingleValue = #{pSinglevalue,jdbcType=DOUBLE},
      P_MultipleValue = #{pMultiplevalue,jdbcType=DOUBLE},
      P_JudgeValue = #{pJudgevalue,jdbcType=DOUBLE},
      P_FillBlankValue = #{pFillblankvalue,jdbcType=DOUBLE},
      P_EssayValue = #{pEssayvalue,jdbcType=DOUBLE},
      P_CaculateValue = #{pCaculatevalue,jdbcType=DOUBLE},
      P_Total = #{pTotal,jdbcType=DOUBLE},
      P_IsNeedMark = #{pIsneedmark,jdbcType=INTEGER},
      P_CreateUser = #{pCreateuser,jdbcType=INTEGER},
      P_CreateTime = #{pCreatetime,jdbcType=TIMESTAMP},
      P_Organize_Mode = #{pOrganizeMode,jdbcType=INTEGER},
      P_Total_Questions = #{pTotalQuestions,jdbcType=INTEGER}
    where PaperID = #{paperid,jdbcType=INTEGER}
  </update>
</mapper>