<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esst.ts.dao.TimeScaleMapper" >
  <resultMap id="BaseResultMap" type="com.esst.ts.model.TimeScale" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="timescale_code" property="timescaleCode" jdbcType="VARCHAR" />
    <result column="timescale_name" property="timescaleName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, timescale_code, timescale_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from timescale
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from timescale
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.esst.ts.model.TimeScale" >
    insert into timescale (id, timescale_code, timescale_name
      )
    values (#{id,jdbcType=INTEGER}, #{timescaleCode,jdbcType=VARCHAR}, #{timescaleName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.esst.ts.model.TimeScale" >
    insert into timescale
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="timescaleCode != null" >
        timescale_code,
      </if>
      <if test="timescaleName != null" >
        timescale_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="timescaleCode != null" >
        #{timescaleCode,jdbcType=VARCHAR},
      </if>
      <if test="timescaleName != null" >
        #{timescaleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esst.ts.model.TimeScale" >
    update timescale
    <set >
      <if test="timescaleCode != null" >
        timescale_code = #{timescaleCode,jdbcType=VARCHAR},
      </if>
      <if test="timescaleName != null" >
        timescale_name = #{timescaleName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esst.ts.model.TimeScale" >
    update timescale
    set timescale_code = #{timescaleCode,jdbcType=VARCHAR},
      timescale_name = #{timescaleName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>